* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #121212;
  color: white;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-areas: "sidebar navbar" "sidebar view-port";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

/* Navbar */

.navbar {
  font-size: 1em;
  font-weight: 550;
  color: #c9c9c9;
  grid-area: navbar;
  background-color: #090909;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar_item {
  cursor: default;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

.navbar_item:last-child {
  color: black !important;
  background-color: white;
  padding: 13px 30px;
  border-radius: 35px;
  font-weight: 700;
  box-sizing: border-box;
}

.navbar_item:hover {
  color: #fff;
  transform: scale(1.05);
}

.navbar-item_divider {
  margin: 0 15px;
  height: 28px;
  width: 1px;
  background-color: white;
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  background-color: black;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

.sidebar > ul {
  list-style: none;
}

.sidebar > ul > div {
  margin: 35px 0;
}

.sidebar_item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #c9c9c9;
  cursor: pointer;
  font-weight: 600;
  margin: 15px 0;
}

.sidebar_item > span:hover {
  color: white;
}

.sidebar-item_svg-wrap {
  background-color: #c9c9c9;
  padding: 1px 5px;
  border-radius: 2px;
  box-sizing: border-box;
}

.sidebar-item_svg-wrap2 {
  background: linear-gradient(135deg,#450af5,#c4efd9);
  padding: 1px 5px;
  border-radius: 2px;
  box-sizing: border-box;
}

.sidebar_bottom-link > li > a {
  color: #c9c9c9;
  font-size: .7em;
  text-decoration: none;
}

.sidebar_bottom-link > li > a:hover {
  text-decoration: underline;
}

/* View port */
.view-port {
  grid-area: view-port;
  padding: 20px 30px;
}

.view-port a {
  text-decoration: none;
}

.view-port a:hover {
  text-decoration: underline;
}

.view-section_head {
  display: flex;
  justify-content: space-between;
}

.view-section_head h1 a {
  color: white;
}

.view-section_head p a {
  font-weight: 600;
  color: #c9c9c9;
}

.view-section_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.play-list {
  padding: 16px;
  width: 200px;
  background-color: #161616;
  height: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #0a0a0a;
  box-sizing: border-box;
  cursor: pointer;
}

.play-list:hover {
  background-color: #202020;
}

.play_cover {
  position: relative;
}

.play_cover > img {
  width: 167px;
  margin-bottom: 16px;
  display: block;
  box-shadow: 0px 0px 19px #070707;
  border-radius: 5px;
}

.play_cover .play-cover_btn {
  visibility: hidden;
  opacity: .6;
  background-color: #1ed760;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: absolute;
  bottom: 1%;
  right: 5%;
  box-shadow: 0px 0px 20px #070707;
  transition: bottom 0.25s, opacity 0.15s;
}

.play-list:hover 
.play_cover .play-cover_btn {
  visibility: visible;
  opacity: 1;
  bottom: 5%;
}

.play_cover .play-cover_btn:hover {
  transform: scale(1.05);
}

.play_cover + p {
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 5px;
}

.play_cover + p + p {
  font-size: 0.9em;
  color: #c9c9c9;
}